.cartitem-border {
    box-shadow: 0px 0px 5px 0px rgb(197 197 197);
    border-radius: 10px;
    padding: 20px;
    margin-left: 20px;
    width: 100%;
    height: 414px;
}

.cartPayBtn {
    width: 100%;
    box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 20%);
}

.colHeight {
    height: 414px;
}

.product-img {
    width: 100px;
    overflow: hidden;
}

.product-row {
    min-width: 200px;
}

.product-quantity {
    min-width: 150px;
    padding-right: 0px !important;
}

.product-delete {
    padding-left: 20px;
    cursor: pointer;
}

.sorry_and_continue_msg {
    position: absolute;
    margin-top: 12%;
    margin-left: 50%;
    transform: translate(-50%, -50%);
}

.shipping-card h4 {
    text-align: center;
}

.item-price{
    font-weight: 600;
}

@media (max-width: 768px) {
    .border {
        margin-left: 0px;
    }
    .colHeight {
        height: auto;
    }
    .cartitem-border {
        margin-left: 0px;
    }
    .item-price{
        font-size: 12px;
        font-weight: bold;
    }
    .shipping-card {
        margin-left: 0px !important;
    }
    .product-row {
        min-width: 100px;
        padding-right: 0px !important;
    }
    .product-title {
        font-size: 16px;
    }
    .product-img {
        width: 100px;
        overflow: hidden;
        padding-left: 0px !important;
        padding-right: 0px !important;
    }
    .product-delete {
        padding-left: 15px;
    }
}

@media only screen and (max-width: 760px) and (min-width: 510px) {
    .sorry_and_continue_msg {
        margin-top: 16%;
    }
}

@media (max-width: 500px) {
    .sorry_and_continue_msg {
        margin-top: 20%;
    }
}

@media (max-width: 330px) {
    .sorry_and_continue_msg {
        margin-top: 20%;
        font-size: 14px;
    }
}