
.contform .row { margin-bottom:5px;}
.contact {align-items: center; justify-content: center; text-align: center; margin: 20px;}

.contact i {
    margin-top: 20px;
    font-size:36px;
    display: flex;
    justify-content: center;
    align-items: center}

    .contact a {text-decoration: none;}

    .contact strong{
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
    font-weight: 700;
    text-transform: uppercase;
    color: #999;}

    @media (max-width: 768px) {
        .contact i {
            margin-top: 10px;
        }
         .contform h2 {font-size: 24px;}
      }


    input[type=number]::-webkit-inner-spin-button, 
    input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none; 
    margin: 0; 
    }