.statusInfo_icon {
    border-radius: 100%;
    width: 60%;
    height: 40%;
    align-items: center !important;
    justify-content: center !important;
}

@media(max-width:430px) {
    .statusInfo_icon {
        width: 50%;
    }

    .jug {
        width: 5%;
    }
}

.circleBefore {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: #374250;
    border-radius: 50%;
}

.circleAfter {
    display: flex;
    width: 20px;
    height: 20px;
    background-color: #0cfa40;
    border-radius: 50%;
}

/* .text {
    margin: auto;
  } */

.steps .step {
    display: block;
    width: 100%;
    /* margin-bottom: 35px; */
    text-align: center
}

.steps .step .step-icon-wrap {
    display: block;
    position: relative;
    width: 100%;
    height: 80px;
    text-align: center
}

.steps .step .step-icon-wrap::before,
.steps .step .step-icon-wrap::after {
    display: block;
    position: absolute;
    top: 50%;
    width: 50%;
    height: 3px;
    margin-top: -1px;
    background-color: #e1e7ec;
    content: '';
    z-index: 1
}

.steps .step .step-icon-wrap::before {
    left: 0
}

.steps .step .step-icon-wrap::after {
    right: 0
}

.steps .step .step-icon {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    border: 1px solid #e1e7ec;
    border-radius: 50%;
    background-color: #f5f5f5;
    color: #374250;
    font-size: 38px;
    line-height: 81px;
    z-index: 5
}

.steps .step .step-title-await-before {
    margin-top: 16px;
    margin-bottom: 0;
    color: #dc3545;
    font-size: 13px;
    font-weight: 500;
    text-align: center !important;
}

.steps .step .step-title-before {
    margin-top: 16px;
    margin-bottom: 0;
    color: #606975;
    font-size: 13px;
    font-weight: 500;
    text-align: center !important;
}

.steps .step .step-title-after {
    color: #000000;
    margin-top: 16px;
    margin-bottom: 0;
    font-size: 13px;
    font-weight: 500;
    text-align: center !important;
}

.label-align {
    width: 100%;
}

.order-handle-button {
    margin-top: 10px;
    font-size: 11px;
    width: 100%;
}

.steps .step:first-child .step-icon-wrap::before {
    display: none
}

.steps .step:last-child .step-icon-wrap::after {
    display: none
}

.steps .step.completed .step-icon-wrap::before,
.steps .step.completed .step-icon-wrap::after {
    background-color: #0da9ef;
}

.steps .step.completed .step-icon {
    border-color: #0da9ef;
    background-color: #0da9ef;
    color: #fff
}

.cartIcon {
    width: 46%;
    margin-bottom: 18%;
}



@media (max-width: 575px) {
    .steps .step {
        display: block;
        width: 100%;
        margin-bottom: 25px;
        text-align: right;
    }

    .steps .step .step-icon-wrap {
        display: block;
        position: relative;
        width: 30% !important;
        height: 80px;
        text-align: left !important;
    }

    .steps .step .step-icon-wrap::before,
    .steps .step .step-icon-wrap::after {
        display: block;
        position: absolute;
        top: -23%;
        width: 3px;
        height: 100%;
        margin-top: 0px;
        background-color: #e1e7ec;
        content: '';
        margin-left: 30px;
        z-index: 1
    }

    .steps .step .step-icon-wrap::before {
        left: 0;
        height: 100%;
    }

    .steps .step .step-icon-wrap::after {
        left: 0;
        top: 0;
        height: 109%;
    }

    .steps .step:first-child .step-icon-wrap::before {
        display: none
    }

    .steps .step:last-child .step-icon-wrap::after {
        display: none
    }

    .steps .step .step-icon {
        display: inline-block;
        position: absolute;
        width: 63px;
        height: 64px;
        border: 1px solid #e1e7ec;
        border-radius: 50%;
        background-color: #f5f5f5;
        color: #374250;
        font-size: 30px;
        line-height: 60px;
        z-index: 5;
        padding-left: 14px;
    }

    .steps .step .step-title {
        width: 144px;
        margin-top: 20px;
        margin-bottom: 0;
        color: #606975;
        font-size: 13px;
        font-weight: 500;
        text-align: center !important;
    }

    .label-align {
        width: 146px;
    }

    .cartIcon {
        width: 70%;
        margin-bottom: 13%;
    }

}

@media (max-width: 360px) {
    .steps .step {
        display: block;
        width: 100%;
        margin-bottom: 25px;
        text-align: right;
    }

    .steps .step .step-icon-wrap {
        display: block;
        position: relative;
        width: 30% !important;
        height: 70px;
        text-align: left !important;
    }

    .steps .step .step-icon-wrap::before,
    .steps .step .step-icon-wrap::after {
        display: block;
        position: absolute;
        top: -22%;
        width: 3px;
        height: 116%;
        margin-top: 0px;
        background-color: #e1e7ec;
        content: '';
        margin-left: 26px;
        z-index: 1;
    }

    .steps .step .step-icon {
        display: inline-block;
        position: absolute;
        width: 54px;
        height: 55px;
        border: 1px solid #e1e7ec;
        border-radius: 50%;
        background-color: #f5f5f5;
        color: #374250;
        font-size: 25px;
        line-height: 51px;
        z-index: 5;
        padding-left: 12px;
    }

    .steps .step .step-icon-wrap::before {
        left: 0;
        height: 100%;
    }

    .steps .step .step-icon-wrap::after {
        left: 0;
        top: 0;

    }

    .steps .step:first-child .step-icon-wrap::before {
        display: none
    }

    .steps .step:last-child .step-icon-wrap::after {
        display: none
    }


    .steps .step .step-title {
        width: 144px;
        margin-top: 20px;
        margin-bottom: 0;
        color: #606975;
        font-size: 13px;
        font-weight: 500;
        text-align: center !important;
    }

    .label-align {
        width: 119px;
    }

    .cartIcon {
        width: 70%;
        margin-bottom: 18%;
    }

}

@media(max-width:320px) {
    .steps .step {
        display: block;
        width: 100%;
        margin-bottom: 15px;
        text-align: right;
    }

    .steps .step .step-icon-wrap {
        display: block;
        position: relative;
        width: 30% !important;
        height: 78px;
        text-align: left !important;
    }

    .steps .step .step-icon-wrap::before,
    .steps .step .step-icon-wrap::after {
        display: block;
        position: absolute;
        top: -34%;
        width: 3px;
        height: 99%;
        margin-top: 0px;
        background-color: #e1e7ec;
        content: '';
        margin-left: 22px;
        z-index: 1;
    }


    .steps .step .step-icon {
        display: inline-block;
        position: absolute;
        width: 47px;
        height: 49px;
        border: 1px solid #e1e7ec;
        border-radius: 50%;
        background-color: #f5f5f5;
        color: #374250;
        font-size: 25px;
        line-height: 45px;
        z-index: 5;
        padding-left: 10px;
    }

    .steps .step .step-icon-wrap::before {
        left: 0;
        height: 93%;
    }

    .steps .step .step-icon-wrap::after {
        left: 0;
        top: 0;

    }

    .steps .step:first-child .step-icon-wrap::before {
        display: none
    }

    .steps .step:last-child .step-icon-wrap::after {
        display: none
    }


    .steps .step .step-title {
        width: 144px;
        margin-top: 20px;
        margin-bottom: 0;
        color: #606975;
        font-size: 13px;
        font-weight: 500;
        text-align: center !important;
    }

    .label-align {
        width: 91px;
    }

}

@media (max-width: 768px) {

    .flex-md-nowrap .step .step-icon-wrap::before,
    .flex-md-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 991px) {

    .flex-lg-nowrap .step .step-icon-wrap::before,
    .flex-lg-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

@media (max-width: 1200px) {

    .flex-xl-nowrap .step .step-icon-wrap::before,
    .flex-xl-nowrap .step .step-icon-wrap::after {
        display: none
    }
}

.bg-faded, .bg-secondary {
    background-color: #f5f5f5 !important;
}

.order-step-header {
    border-radius: 5px;
    background: linear-gradient(to right, var(--app-color), white);
}

.order-step-header h6 {
    padding-bottom: 0px !important;
    padding: 8px;
    color: white;
}