.italic-text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    font-style: italic;
}

.orders-grid {
    height: 500px;
    background: white;
    box-shadow: 0px 5px 5px 0px rgb(0 0 0 / 20%);
    border-radius: 5px;
}

.no-data-card {
    background: white;
    color: #adb5bd;
    text-align: center;
    padding: 5px;
    margin: 20px auto;
    border: none;
    -webkit-box-shadow: 0px 0px 5px 0px rgb(197 197 197);
    box-shadow: 0px 0px 5px 0px rgb(197 197 197);
    width: 100%;
}

.order-transit-row, .order-row, .order-delivered-row, .order-yet-to-dispatch-row {
    font-size: 14px;
}

.order-transit-row:hover, .order-row:hover, .order-delivered-row:hover, .order-yet-to-dispatch-row:hover {
    cursor: pointer;
    font-weight: 400;
}

.order-transit-row:hover {
    background-color: #fff3cd !important;
}

.order-delivered-row:hover {
    background-color: #d4edda !important;
}

.order-yet-to-dispatch-row:hover {
    background-color: rgba(0, 0, 0, .075) !important;
}