.orderInfoCardTopMargin{
margin-top:0px !important;
min-height: 271px;
}

.orderDate{
    font-size: 16px;
    font-weight: 400;
}

.orderId{ 
    font-size: 16px;
    font-weight: 400;
}

@media (max-width: 500px) {
.orderInfoFontSize{
    font-size:14px ;
}
}

@media (max-width: 320px) {
    .orderInfoFontSize{
        font-size:14px ;
    }
    }