.img-up .file_img {
    position: relative;
    width: 23%;
    height: 160px;
    cursor: pointer;
    margin-left: 8px;
}

@media (max-width: 768px) {
    .img-up .file_img {
        width: 22%;
        height: 90px;
    }
}

.img-up .file_img img {
    width: 100%;
    height: 100%;
    display: block;
    /* object-fit: cover; */
}

.img-up .file_img .img-del {
    position: absolute;
    float: right;
    top: 8px;
    right: 4px;
    z-index: 4;
    background: rgb(242, 21, 58);
    color: white;
    padding: 3px 6px;
    border-radius: 50%;
    font-size: 8px;
    font-weight: bolder;
}

.size-del-btn{
    padding: 10px;
    cursor: pointer;
    background: rgb(242, 21, 58);
    color: white;
    padding: 3px 7px;
    border-radius: 50%;
    font-size: 9px;
    font-weight: bolder;
}

.display-product{
    font-size: 10px;
    font-weight: 600;
}

.img-up .file_img .img-edit {
    position: absolute;
    float: right;
    bottom: 5px;
    right: 10px;
    z-index: 4;
    background: white;
    color: rgb(0 0 0);
    padding: 6px 7px;
    border-radius: 50%;
    font-size: 9px;
    font-weight: bolder;
    opacity: 0.8;
}

.file_img:hover .product-tooltip {
    display: block;
}

.product-tooltip {
    display: none;
    background-color: white;
    padding: 4px;
    opacity: 0.8;
    position: absolute;
    z-index: 5;
    bottom: 6px;
    left: 10px;
    font-size: 10px;
    font-weight: bold;
}

.img-up .file_img .img-edit:hover {
    opacity: 1;
}

.upload-img-btn {
    border: 1px Solid var(--app-color);
    border-radius: 3px;
    text-align: center;
    color: var(--app-color);
}

.upload-img-btn label {
    cursor: pointer;
    font-weight: bolder;
    font-size: 12px;
}

#upload-img-input {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.product-attributes-input {
    padding: 3px !important;
    border: 1px solid #d7d7d7;
    border-radius: 3px;
    font-size: 12px;
}

.product-attributes-label {
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 0px;
}