h2{
    text-align: center;
}

 .prdcaroImg{
    /* height: 250px;
    width:400px; */
    border: 2px solid black;
    display: block;
    margin : auto;
}

.slick-arrow{
    color: #000 !important;
}

.slick-prev{
    z-index: 100;
    left: -50px !important;
}

.slick-prev:before, .slick-next:before {
    font-size: 40px !important;
}

.slick-next{
    z-index: 100;
    right:-50px !important;
}

.bestSellCaroIndicators:hover .slick-prev {
    z-index: 100;
    left: 20px !important;
    transition: 0.5s;
  }

  .bestSellCaroIndicators:hover .slick-next {
    z-index: 100;
    right:35px !important;
    transition: 0.5s;
  }

@media (max-width: 767px) {
    .slick-prev:before, .slick-next:before {
        font-size: 20px !important;
    }
  }