.products{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(290px, 1fr));
    justify-content: center;
    margin: 20px 0;
}
.products .card{
    padding:10px;
    margin: 10px auto;
    border: none;
    box-shadow: 0px 0px 5px 0px rgb(197 197 197);
    width: 18rem;
}
.products .card-img-top{
    height: 250px;
    width: 100%;
}
.products .card-body{
    background-color: #bbefff4a;
}
.products .card-title{
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.products .card-text{
    height: 70px;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;
}

@media (max-width: 768px) {
    .products .card{
        width: 85%;
    }
  }

/* --------- Detail Product ----------- */
.detail_page .img-thumbnail.active{
    border-color: orangered;
    padding: 2px;
}

.detail_page .prodDetailImg{
height:450px;
}

.detail_page .prodDetialmultiImgs{
    height:95px;
     
}

@media (max-width: 768px) {
    .detail_page .prodDetailImg{
        height:300px;
        }
  }