.shipping-card {
    font-size: 14px;
}

.shipping-card h5 {
    font-weight: bolder;
}

@media(max-width:1024px) {
    .shipping-card {
        margin-top: 20px;
        margin-left: 0px !important;
    }
}