.shippingDetailsCard {
    margin-top: 0px;
    margin-left: 0px !important;
    font-size: 14px
}

.shippingDetailsCard h5 {
    font-weight: bolder;
}

@media(max-width:330px) {
    .shippingDetailsFont {
        font-size: 14px;
    }
}

@media(max-width:1024px) {
    .shippingDetailsCard {
        margin-top: 20px;
    }
}